*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
build/*
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
out/
.syntastic_javac_config
complete.iml
complete.ipr
complete.iws

